RewriteEngine On

# Izinkan akses ke directory
RewriteCond %{REQUEST_FILENAME} !-d

# Jika akses tanpa .php, arahkan ke file php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+?)/?$ $1.php [L]

# Jika akses langsung .php, redirect ke URL tanpa .php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php[^\s]*\sHTTP
RewriteRule ^([^.]+)\.php$ /$1 [R=301,L]